$docFontSize: 16px;
$fontFamily: Helvetica,
Arial,
"Lucida Grande",
sans-serif;
$fontFamilyHeadings : Helvetica,
Arial,
"Lucida Grande",
sans-serif;
$heading: ( h1: 36px, h2: 30px, h3: 24px, h4: 24px, h5: 24px, h6: 24px);
$bodyTextFontSize: 24px;
