$docFontSize: 16px;
$fontFamily: Roboto, Montserrat, Raleway, sans-serif;
$fontFamilyHeadings: Roboto, Montserrat, Raleway, sans-serif;
$font-sizes: (s: 12px, m: 16px, l: 20px, xl: 24px);
$cap-heights: (s: .8, m: .8, l: .68, xl: .68);
$line-height: 1.75;
$heading: ( h1: 36px, h2: 30px, h3: 24px, h4: 24px, h5: 24px, h6: 24px);
$bodyTextFontSize: 16px;
