.contacts {
  &.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin: 0;
    @include addBreakpointFor(tablet-large) {
      flex-direction: row;
      @include setPropWithRemAndPx(130, padding-left);
    }
  }
}
