.contact-item {
  .contact-form {
    .unit {
      &[variant~="contact-item-avatar"] {
        max-height: unset;
        overflow: unset;
      }
    }
  }
}

.custom-input {
  &.container {
    @include setPropWithRemAndPx(10, (padding));
  }
  &[variant~="input-search"] {
    width: 100%;
    border: 1px solid $color-gray;
    border-radius: 5px;
    .input {
      font-family: $fontFamily;
      font-weight: 700;
      border: 0;
      width: 100%;
      @include setPropWithRemAndPx(10, (padding: 10, font-size: 16));
      background: transparent;
      margin: 0;
      vertical-align: top;
      &::placeholder {
        color: $color-gray;
        opacity: 1;
        text-align: center;
      }
    }
  }
}

.input {
  &[variant~="contact-item-body"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include setPropWithRemAndPx(10, margin);
    margin-top: 0;
    margin-bottom: 0;
    &:last-child {
      @include setPropWithRemAndPx(20, margin-bottom);
    }
  }
  &[variant~="contact-label"] {
    @include setPropWithRemAndPx(120, (min-width, max-width, width));
    @include setPropWithRemAndPx(10, margin-right);
    margin-bottom: 0;
    label {
      display: block;
      font-family: $fontFamily;
      @include setPropWithRemAndPx(18, (font-size: 18, padding-top: 4));
      text-align: right;
      color: darken( $color-gray-lighter, 20%);
    }
  }
  &[variant~="textarea"] {
    align-self: flex-start;
    @include setPropWithRemAndPx(10, margin-top);
    label {
      padding-top: 0;
    }
  }
  &[variant~="contact-inputfield"] {
    flex: auto;
    .input {
      font-family: $fontFamily;
      font-weight: 400;
      border: 0;
      width: 100%;
      color: $color-gray-darker;
      @include setPropWithRemAndPx(10, (padding-top: 5, padding-bottom: 5, padding-left: 10, padding-right: 10, font-size: 24));
      background: transparent;
      margin: 0;
      vertical-align: top;
      box-shadow: none;
      background-image: none;
      &::placeholder {
        color: darken( $color-gray-lighter, 20%);
        opacity: 1;
        text-align: left;
      }
      &.textarea {
        color: darken( $color-gray-lighter, 20%);
      }
    }
  }
  &[variant~="contact-checkbox"] {
    height: inherit;
    label {
      display: block;
      position: relative;
      height: inherit;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
      }
    }
  }
}

.fav-checkbox[type="checkbox"]:not(:checked),
.fav-checkbox[type="checkbox"]:checked {
  @include opacity(0);
  @extend %visuallyhidden;
}

.fav-checkbox[type="checkbox"]:not(:checked)+label,
.fav-checkbox[type="checkbox"]:checked+label {
  padding: 0;
}


/* checkbox aspect */

.fav-checkbox[type="checkbox"]:not(:checked)+label:after,
.fav-checkbox[type="checkbox"]:checked+label:after,
.fav-checkbox[type="checkbox"]:not(:checked)+label:before,
.fav-checkbox[type="checkbox"]:checked+label:before {
  @include opacity(0);
  @extend %visuallyhidden;
}


/* checked mark aspect changes */

.fav-checkbox[type="checkbox"]:not(:checked)+label .icon.off {
  @include opacity(1);
}

.fav-checkbox[type="checkbox"]:not(:checked)+label .icon.on {
  @include opacity(0);
}

.fav-checkbox[type="checkbox"]:checked+label .icon.off {
  @include opacity(0);
}

.fav-checkbox[type="checkbox"]:checked+label .icon.on {
  @include opacity(1);
}


/* disabled checkbox */

.fav-checkbox[type="checkbox"]:disabled:not(:checked)+label:before,
.fav-checkbox[type="checkbox"]:disabled:checked+label:before {
  box-shadow: none;
  border-color: none;
  background-color: none;
}

.fav-checkbox[type="checkbox"]:disabled:checked+label:after {
  color: transparent;
}

.fav-checkbox[type="checkbox"]:disabled+label {
  color: transparent;
}


/* accessibility */

.fav-checkbox[type="checkbox"]:checked:focus+label:before,
.fav-checkbox[type="checkbox"]:not(:checked):focus+label:before {
  border: none;
}

.fav-checkbox[type="checkbox"]:hover+label .icon,
.fav-checkbox[type="checkbox"]:focus+label .icon {
  transform: scale(1.25);
}

fieldset {
  &[disabled] {
    .fav-checkbox[type="checkbox"]:hover+label .icon,
    .fav-checkbox[type="checkbox"]:focus+label .icon {
      transform: scale(1);
    }
    input.input,
    textarea {
      cursor: text;
    }
  }
}
