.contact-item {
  .contact-form {
    .unit {
      &[variant~="contact-item-avatar"] {
        max-height: unset;
        overflow: unset;
      }
    }
  }
}

.custom-input {
  &.container {
    @include setPropWithRemAndPx(10, (padding));
  }
  &[variant~="input-search"] {
    width: 100%;
    border: 1px solid $color-gray;
    border-radius: 5px;
    .input {
      font-family: $fontFamily;
      font-weight: 700;
      border: 0;
      width: 100%;
      @include setPropWithRemAndPx(10, (padding: 10, font-size: 16));
      background: transparent;
      margin: 0;
      vertical-align: top;
      &::placeholder {
        color: $color-gray;
        opacity: 1;
        text-align: center;
      }
    }
  }
}

.input {
  &[variant~="contact-item-body"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include setPropWithRemAndPx(10, margin);
    margin-top: 0;
    margin-bottom: 0;
    &:last-child {
      @include setPropWithRemAndPx(20, margin-bottom);
    }
  }
  &[variant~="contact-label"] {
    @include setPropWithRemAndPx(70, (min-width, max-width, width));

    margin-bottom: 0;
    label {
      display: block;
      font-family: $fontFamily;
      @include setPropWithRemAndPx(18, (font-size: 14, margin-top: 1));
      text-align: right;
      color: darken( $color-gray-lighter, 20%);
    }
  }
  &[variant~="textarea"] {
    align-self: flex-start;
    @include setPropWithRemAndPx(6, margin-top);
    label {
      padding-top: 0;
    }
  }
  &[variant~="contact-inputfield"] {
    flex: auto;
    .input {
      font-family: $fontFamily;
      font-weight: 400;
      border: 0;
      width: 100%;
      color: $color-gray-darker;
      @include setPropWithRemAndPx(10, (padding-top: 5, padding-bottom: 5, padding-left: 10, padding-right: 10, font-size: 16));
      background: transparent;
      margin: 0;
      vertical-align: top;
      box-shadow: none;
      background-image: none;
      &::placeholder {
        color: darken( $color-gray-lighter, 20%);
        opacity: 1;
        text-align: left;
      }
      &:focus {
        @include setPropWithRemAndPx(13, margin-left);
        font-weight: 700;
        transform: scale(1.2);
        width: calc(100%/1.2);
        outline: 0;
      }
      &.textarea {
        color: $color-gray-darker;
        font-family: $fontFamily;
        &:focus {
          transform: scale(1);
          margin-top: 0;
          margin-left: 0;
        }
      }
    }
  }
  &[variant~="contact-checkbox"] {
    height: inherit;
    label {
      display: block;
      position: relative;
      height: inherit;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
      }
    }
  }
}

.fav-checkbox[type="checkbox"]:not(:checked),
.fav-checkbox[type="checkbox"]:checked {
  @include opacity(0);
  @extend %visuallyhidden;
}

.fav-checkbox[type="checkbox"]:not(:checked)+label,
.fav-checkbox[type="checkbox"]:checked+label {
  padding: 0;
}


/* checkbox aspect */

.fav-checkbox[type="checkbox"]:not(:checked)+label:after,
.fav-checkbox[type="checkbox"]:checked+label:after,
.fav-checkbox[type="checkbox"]:not(:checked)+label:before,
.fav-checkbox[type="checkbox"]:checked+label:before {
  @include opacity(0);
  @extend %visuallyhidden;
}


/* checked mark aspect changes */

.fav-checkbox[type="checkbox"]:not(:checked)+label .icon.off {
  @include opacity(1);
}

.fav-checkbox[type="checkbox"]:not(:checked)+label .icon.on {
  @include opacity(0);
}

.fav-checkbox[type="checkbox"]:checked+label .icon.off {
  @include opacity(0);
}

.fav-checkbox[type="checkbox"]:checked+label .icon.on {
  @include opacity(1);
}


/* disabled checkbox */

.fav-checkbox[type="checkbox"]:disabled:not(:checked)+label:before,
.fav-checkbox[type="checkbox"]:disabled:checked+label:before {
  box-shadow: none;
  border-color: none;
  background-color: none;
}

.fav-checkbox[type="checkbox"]:disabled:checked+label:after {
  color: transparent;
}

.fav-checkbox[type="checkbox"]:disabled+label {
  color: transparent;
}


/* accessibility */

.fav-checkbox[type="checkbox"]:checked:focus+label:before,
.fav-checkbox[type="checkbox"]:not(:checked):focus+label:before {
  border: none;
}

.fav-checkbox[type="checkbox"]:hover+label .icon,
.fav-checkbox[type="checkbox"]:focus+label .icon {
  transform: scale(1.25);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: $color-gray-darker;
  -webkit-box-shadow: 0 0 0 1000px $color-gray-darker inset;
  transition: background-color 5000s ease-in-out 0s;
}

fieldset {
  &[disabled] {
    .fav-checkbox[type="checkbox"]:hover+label .icon,
    .fav-checkbox[type="checkbox"]:focus+label .icon {
      transform: scale(1);
    }
    input.input,
    textarea {
      cursor: text;
    }
  }
}
