.contact-list-search {
  &.container {
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $color-white;
    @include addBreakpointFor(tablet-large) {
      @include setPropWithRemAndPx(130, left);
    }
  }
  &.unit {}
}
