@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue'), local('HelveticaNeue'), url('../fonts/helvetica-neue.woff') format('woff'), url('../fonts/helvetica-neue.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue Light'), local('HelveticaNeue-Light'), url('../fonts/helvetica-neue-light.woff') format('woff'), url('../fonts/helvetica-neue-light.ttf') format('truetype');
}
